* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.dots {
  background-image: url("../imgs/dots.png");
  background-repeat: no-repeat;
  width: 186px;
  height: 204px;
  position: absolute;
}
@media (max-width:767px) {
  .dots {
    display: none;
  }
}

.dots-up {
  top: 200px;
  right: 0px;
}

.dots-down {
  bottom: 200px;
  left: 0px;
}

.zic {
  position: relative;
  z-index: 100;
}
.zic::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  background-size: 40px 40px;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
}

.myButton {
  background-color: #1787e0;
  padding: 15px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  right: 15px;
  top: 86%;
  border-radius: 5px;
  border: white;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1000;
  display: none;
  opacity: 0.9;
}

.main-anim {
  margin: 0px auto 80px;
  display: flex;
  justify-content: center;
  border: 2px solid;
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s;
  font-weight: bold;
  font-size: 28px;
  z-index: 1;
}
.main-anim::before, .main-anim::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2196f3;
  top: 50%;
  position: absolute;
  background-color: #2196f3;
  transition: 0.3s;
  transform: translateY(-50%);
}
.main-anim::before {
  z-index: -1;
  left: -30px;
  transition-delay: 0.3s;
}
.main-anim::after {
  z-index: -1;
  right: -30px;
  transition-delay: 0.3s;
}
.main-anim:hover::before {
  -webkit-animation: left-anim 0.3s linear forwards;
          animation: left-anim 0.3s linear forwards;
  width: 55%;
  height: 100%;
}
.main-anim:hover::after {
  width: 55%;
  height: 100%;
  -webkit-animation: right-anim 0.3s linear forwards;
          animation: right-anim 0.3s linear forwards;
}
.main-anim:hover {
  color: white;
  border: 1px solid white;
  transition-delay: 0.5s;
}
@media (max-width:767px) {
  .main-anim {
    font-size: 20px;
  }
}

body .article {
  padding: 100px 0px;
}

@keyframes left-anim {
  to {
    left: 0px;
    border-radius: 0px;
  }
}
@-webkit-keyframes left-anim {
  to {
    left: 0px;
    border-radius: 0px;
  }
}
@keyframes right-anim {
  to {
    right: 0px;
    border-radius: 0px;
  }
}
@-webkit-keyframes right-anim {
  to {
    right: 0px;
    border-radius: 0px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  padding: 3px 0px;
}

body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 70px;
  text-transform: capitalize;
}
@media (max-width:767px) {
  body .header {
    display: block;
    height: auto;
  }
}
body .header .logo {
  color: #2196f3;
  font-size: 30px;
  height: 75px;
  -webkit-text-decoration: #2196f3 wavy underline;
          text-decoration: #2196f3 wavy underline;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .header .nav {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .header .nav li {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:767px) {
  body .header .nav li {
    font-size: 18px;
    padding: 0px 10px;
  }
  body .header .nav li.mega-li {
    cursor: pointer;
  }
}
body .header .nav li > #header_a {
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: black;
  padding: 0px 27px;
  font-size: 19px;
  height: 75px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:767px) {
  body .header .nav li > #header_a {
    font-size: 16px;
    padding: 5px 0px;
  }
}
body .header .nav li > #header_a::before {
  content: "";
  position: absolute;
  left: -160px;
  top: 0px;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  transition: 0.3s;
}
body .header .nav li:hover > #header_a {
  background-color: #fafafa;
  transition: 0.3s;
  color: #1787e0;
}
body .header .nav li:hover #header_a::before {
  left: 0px;
}
body .header .nav .menu {
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: -100;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 110px;
  opacity: 0;
  padding: 30px;
  left: 0px;
  gap: 30px;
  transition: 0.3s;
}
@media (max-width:767px) {
  body .header .nav .menu {
    display: flex;
    flex-wrap: wrap;
    top: 142px;
    flex-direction: column;
    border-top: 1px solid #ddd;
  }
}
body .header .nav .menu img {
  max-width: 100%;
}
@media (max-width:991px) {
  body .header .nav .menu img {
    display: none;
  }
}
body .header .nav .menu ul {
  list-style: none;
  min-width: 250px;
  flex: 1;
}
@media (max-width:767px) {
  body .header .nav .menu ul {
    width: 100%;
    margin-bottom: -30px;
  }
}
body .header .nav .menu ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
@media (max-width:767px) {
  body .header .nav .menu ul li:last-child {
    border-bottom: 1px solid #ddd;
  }
}
body .header .nav .menu ul li {
  padding: 15px;
  position: relative;
}
body .header .nav .menu ul i {
  margin-right: 5px;
}
body .header .nav .menu ul a {
  display: block;
  text-decoration: none;
  color: #2196f3;
  font-weight: bold;
  font-size: 18px;
}

.menu ul li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 0%;
  background-color: #fafafa;
  transition: 0.3s;
  z-index: -1;
}

.menu ul li:hover::before {
  width: 100%;
}

body .landing {
  position: relative;
}
body .landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left top;
  left: 0;
  top: -48px;
  background-color: #ececec;
  /* -webkit-transform: skewX(6deg); */
  transform: skewY(-6deg);
  z-index: -1;
}
body .landing .container {
  height: calc(100vh - 74px);
  display: flex;
  align-items: center;
}
body .landing .container .image img {
  max-width: 600px;
  -webkit-animation: up_ 2s infinite alternate linear;
          animation: up_ 2s infinite alternate linear;
  margin-bottom: 150px;
}
@media (max-width:767px) {
  body .landing .container .image img {
    display: none;
  }
}
@media (max-width:991px) {
  body .landing .container .image img {
    display: none;
  }
}
body .landing .container .text {
  flex: 1;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 100px;
}
@media (max-width:767px) {
  body .landing .container .text {
    text-align: center;
    margin-bottom: 100px;
  }
}
@media (max-width:991px) {
  body .landing .container .text {
    margin-bottom: 100px;
    text-align: center;
  }
}
body .landing .container .text > h2 {
  font-size: 40px;
  text-transform: capitalize;
}
@media (max-width:767px) {
  body .landing .container .text > h2 {
    font-size: 1.5rem;
  }
}
body .landing .container .text > p {
  font-size: 23px;
  font-size: 25px;
  line-height: 1.7;
  color: #666;
  margin: 0px;
  margin-top: 5px;
}
body .landing .container > a {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2196f3;
  -webkit-animation: iconAnimaition 1.3s infinite ease-in;
          animation: iconAnimaition 1.3s infinite ease-in;
}

body .article .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
body .article .container .box {
  transform: perspective(2000px);
  transform-style: preserve-3d;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
}
body .article .container .box .image img {
  max-width: 100%;
  border-radius: 6px 6px 0px 0px;
}
body .article .container .box .text {
  padding: 20px;
  border-bottom: 1px solid #e6e6e7;
}
body .article .container .box .text h3 {
  text-transform: capitalize;
  margin: 15px auto 0px;
}
body .article .container .box .text p {
  color: #777;
  line-height: 1.5;
  margin-top: 5px;
}
body .article .container .box .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
body .article .container .box .info a {
  text-decoration: none;
  color: #2196f3;
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
}
body .article .container .box .info .i {
  color: #2196f3;
}
body .article .container .box:hover .i {
  -webkit-animation: go_right 0.5s linear infinite;
          animation: go_right 0.5s linear infinite;
}
body .article .container .box:hover {
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.5);
}

@keyframes go_right {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(5px);
  }
}
@-webkit-keyframes go_right {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(5px);
  }
}
.gallery {
  padding: 100px 0px;
  background-color: #ececec;
  overflow: hidden;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.gallery .container .gallery-content {
  padding: 16px;
  box-shadow: 0 15px 10px 0px rgba(0, 0, 0, 0.12), 2px 5px 5px 0px rgba(0, 0, 0, 0.1);
  background: white;
  overflow: hidden;
  position: relative;
}
.gallery .container .gallery-content > div {
  overflow: hidden;
}
.gallery .container .gallery-content img {
  max-width: 100%;
  position: relative;
  transition: 0.3s;
}
.gallery .container .gallery-content:hover img {
  transform: scale(1.2) skewX(-7deg);
}
.gallery .container .gallery-content::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.25);
  transition: 0.3s;
  z-index: 100;
}
.gallery .container .gallery-content:hover::before {
  width: 100%;
  height: 100%;
}

body .features {
  padding: 100px 0px;
}
body .features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
body .features .container .box {
  border: 1px solid #ccc;
  overflow: hidden;
  padding-bottom: 25px;
}
body .features .container .box .image {
  position: relative;
}
body .features .container .box .image img {
  max-width: 100%;
}
body .features .container .box .image .clip {
  width: 104%;
  left: -11px;
  position: absolute;
  height: 50%;
  background-color: white;
  top: 51%;
  transition: 0.3s;
  -webkit-clip-path: polygon(0% 100%, 100% 0, 100% 100%);
          clip-path: polygon(0% 100%, 100% 0, 100% 100%);
}
body .features .container .box .text {
  text-align: center;
}
body .features .container .box .text h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 40px;
  padding: 15px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
body .features .container .box .text p {
  color: #777;
  font-size: 20px;
  padding: 20px;
  line-height: 1.7;
}
body .features .container .box:hover .clip {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
          clip-path: polygon(0 100%, 0 0, 100% 100%);
}
body .features .container .quality .image::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 64, 54, 0.6);
}
body .features .container .quality .text h2::before {
  content: "";
  position: absolute;
  width: calc(100% - 50px);
  background-color: #f44036;
  height: 5px;
  left: 25px;
  top: 100%;
}
body .features .container .quality a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 10px auto;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 22px;
  border: 3px solid #f44036;
  color: #f44036;
  font-weight: bold;
  border-radius: 7px;
  text-transform: capitalize;
  position: relative;
  transition: 0.3s;
}
body .features .container .quality a::-moz-selection {
  background-color: #f44036;
  color: white;
}
body .features .container .quality a::selection {
  background-color: #f44036;
  color: white;
}
body .features .container .quality a::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 98%;
  width: 0%;
  z-index: -1;
  background-color: #f44036;
  transition: 0.3s;
}
body .features .container .quality a:hover::before {
  width: 100%;
}
body .features .container .quality a:hover {
  color: white;
}
body .features .container .quality .text :is(p, h2)::-moz-selection {
  background-color: #f44036;
  color: white;
}
body .features .container .quality .text :is(p, h2)::selection {
  background-color: #f44036;
  color: white;
}
body .features .container .time .image::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 150, 136, 0.6);
}
body .features .container .time .text h2::before {
  content: "";
  position: absolute;
  width: calc(100% - 50px);
  background-color: #009688;
  height: 5px;
  left: 25px;
  top: 100%;
}
body .features .container .time a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 10px auto;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 22px;
  border: 3px solid #009688;
  color: #009688;
  font-weight: bold;
  border-radius: 7px;
  text-transform: capitalize;
  position: relative;
  transition: 0.3s;
}
body .features .container .time a::-moz-selection {
  background-color: #009688;
  color: white;
}
body .features .container .time a::selection {
  background-color: #009688;
  color: white;
}
body .features .container .time a::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 98%;
  width: 0%;
  z-index: -1;
  background-color: #009688;
  transition: 0.3s;
}
body .features .container .time a:hover::before {
  width: 100%;
}
body .features .container .time a:hover {
  color: white;
}
body .features .container .time .text :is(p, h2)::-moz-selection {
  background-color: #009688;
  color: white;
}
body .features .container .time .text :is(p, h2)::selection {
  background-color: #009688;
  color: white;
}
body .features .container .passion .image::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 169, 244, 0.6);
}
body .features .container .passion .text h2::before {
  content: "";
  position: absolute;
  width: calc(100% - 50px);
  background-color: #03a9f4;
  height: 5px;
  left: 25px;
  top: 100%;
}
body .features .container .passion a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 10px auto;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 22px;
  border: 3px solid #03a9f4;
  color: #03a9f4;
  font-weight: bold;
  border-radius: 7px;
  text-transform: capitalize;
  position: relative;
  transition: 0.3s;
}
body .features .container .passion a::-moz-selection {
  background-color: #03a9f4;
  color: white;
}
body .features .container .passion a::selection {
  background-color: #03a9f4;
  color: white;
}
body .features .container .passion a::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 98%;
  width: 0%;
  z-index: -1;
  background-color: #03a9f4;
  transition: 0.3s;
}
body .features .container .passion a:hover::before {
  width: 100%;
}
body .features .container .passion a:hover {
  color: white;
}
body .features .container .passion .text :is(p, h2)::-moz-selection {
  background-color: #03a9f4;
  color: white;
}
body .features .container .passion .text :is(p, h2)::selection {
  background-color: #03a9f4;
  color: white;
}

.testimonials {
  padding: 100px 0px;
  background-color: #ececec;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  position: relative;
  background: white;
  padding: 20px;
  text-transform: capitalize;
  border-radius: 6px;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  transition: 0.3s;
  color: rgba(0, 0, 0, 0.121);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}
@media (max-width:767px) {
  .testimonials .container .box {
    transform-style: flat;
  }
}
.testimonials .container .box img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -60px;
  right: -14px;
  border: 10px solid #ececec;
  transform: translateZ(10px);
}
.testimonials .container .box h3 {
  margin: 0px;
  margin-bottom: 10px;
  transform: translateZ(10px);
}
.testimonials .container .box .title {
  display: block;
  transform: translateZ(10px);
  color: #777;
}
.testimonials .container .box .rate {
  transform: translateZ(10px);
  margin: 10px 0px 5px 0px;
}
.testimonials .container .box .rate .filled {
  color: #ffc107;
}
.testimonials .container .box p {
  color: #777;
  line-height: 1.5;
  transform: translateZ(10px);
  padding: 5px 0px 2px 0px;
}

.team-members {
  padding: 100px 0px;
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team-members .container .box {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.3s;
}
.team-members .container .box::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80%;
  height: 100%;
  background-color: #f3f3f3;
  border-radius: 10px;
  z-index: -1;
}
.team-members .container .box::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0%;
  height: 100%;
  background-color: #e4e4e4;
  border-radius: 10px;
  z-index: -1;
  transition: 0.3s;
}
.team-members .container .box:hover i {
  color: #2196f3;
}
.team-members .container .box:hover h3 {
  color: #e4e4e4;
}
.team-members .container .box:hover img {
  filter: blur(1);
}
.team-members .container .box:hover::after {
  width: 80%;
}
.team-members .container .box .imageAndsocials {
  padding-top: 60px;
  width: 100%;
  display: flex;
}
.team-members .container .box .imageAndsocials img {
  width: calc(100% - 75px);
  border-radius: 7px;
  transition: 0.3s;
}
.team-members .container .box .imageAndsocials .socials {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.team-members .container .box .imageAndsocials .socials a {
  text-decoration: none;
  width: 20px;
  height: 20px;
}
.team-members .container .box .imageAndsocials .socials a i {
  transition: 0.3s;
  color: #777;
}
.team-members .container .box .imageAndsocials .socials a:hover i {
  color: #2196f3;
}
.team-members .container .box .imageAndsocials .socials a:hover i.you-tupe {
  color: rgb(241, 36, 36);
}
.team-members .container .box .info h3 {
  text-transform: capitalize;
  color: #2196f3;
  margin: 20px 0px;
  padding-left: 100px;
  font-weight: bold;
  font-size: 20px;
}
.team-members .container .box .info p {
  margin: 20px 0px;
  padding-left: 100px;
  font-size: 18px;
}
.team-members .container .box:hover h3 {
  color: #777;
}
.team-members .container .box:hover img {
  filter: grayscale(100%);
}

.services {
  background-color: #ececec;
  padding: 100px 0px;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .box {
  background: white;
  padding-top: 15px;
  position: relative;
  counter-increment: services;
  transition: 0.5s;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
.services .container .box i {
  color: #d5d5d5;
  display: block;
  margin: 20px auto;
  text-align: center;
}
.services .container .box h3 {
  font-size: 1.9rem;
  font-weight: bold;
  margin: 25px auto 35px;
  text-align: center;
  color: #1787e0;
}
.services .container .box .info {
  background-color: #f9f9f9;
  padding: 15px;
  position: relative;
}
.services .container .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: #2196f3;
  color: white;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  padding: 0px 25px 0px 15px;
  left: 0px;
  top: 0px;
}
.services .container .box .info::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50px;
  background-color: #d5d5d5;
  left: 75px;
  top: 0px;
  transform: skewX(-23deg);
}
.services .container .box .info a {
  text-decoration: none;
  display: block;
  text-align: right;
  color: #1787e0;
  font-size: 18px;
  text-transform: capitalize;
}
.services .container .box::before {
  content: "";
  left: 50%;
  top: -3px;
  width: 0%;
  position: absolute;
  height: 3px;
  background-color: #2196f3;
  transform: translateX(-50%);
  transition: 0.3s;
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box:hover {
  transform: translateY(-10px);
}

.our-skills {
  padding: 100px 0px;
}
.our-skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 40px;
  align-items: center;
}
@media (max-width:991px) {
  .our-skills .container {
    grid-template-columns: 1fr;
  }
}
@media (max-width:767px) {
  .our-skills .container {
    grid-template-columns: 1fr;
  }
}
.our-skills .container .image img {
  max-width: 100%;
}
@media (max-width:991px) {
  .our-skills .container .image img {
    display: none;
  }
}
.our-skills .container .skills .skill {
  margin-bottom: 15px;
}
.our-skills .container .skills .skill h3 {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.our-skills .container .skills .skill h3 > span {
  font-size: 12px;
  font-weight: bold;
  color: #2196f3;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-skills .container .skills .skill .progress {
  height: 30px;
  background-color: #ccc;
  position: relative;
}
.our-skills .container .skills .skill .progress > span {
  height: 100%;
  position: absolute;
  background-color: #2196f3;
  transition: 1s;
}

.how-it-work {
  padding: 100px 0px;
  background-color: #ececec;
  overflow: hidden;
}
.how-it-work .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:991px) {
  .how-it-work .container {
    flex-wrap: wrap;
  }
}
.how-it-work .container .image {
  transition: 1s;
}
.how-it-work .container .image img {
  max-width: 100%;
  margin-right: 90px;
}
@media (max-width:767px) {
  .how-it-work .container .image img {
    margin-right: 0px;
  }
}
@media (max-width:991px) {
  .how-it-work .container .image {
    margin-bottom: 25px;
  }
}
.how-it-work .container .info .box {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  padding: 30px;
  background-color: #f6f6f6;
  position: relative;
  border: 2px solid white;
  border-radius: 6px;
  z-index: 1;
  margin-bottom: 20px;
}
@media (max-width:767px) {
  .how-it-work .container .info .box {
    flex-direction: column;
    text-align: center;
  }
}
.how-it-work .container .info .box img {
  width: 75px;
}
.how-it-work .container .info .box .text {
  display: flex;
  flex-wrap: wrap;
  width: 227px;
  padding: 23px;
  margin-left: 5px;
  padding: 15px;
}
@media (max-width:991px) {
  .how-it-work .container .info .box .text {
    width: auto;
  }
}
.how-it-work .container .info .box .text h2 {
  font-size: 22px;
}
@media (max-width:767px) {
  .how-it-work .container .info .box .text h2 {
    text-align: center;
    width: 100%;
  }
}
.how-it-work .container .info .box .text p {
  font-size: 18px;
  color: #777;
  line-height: 1.4;
  margin-top: 10px;
}
.how-it-work .container .info .box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  z-index: -1;
  background-color: #ececec;
  transition: 0.3s;
}
.how-it-work .container .info .box:hover::before {
  width: 100%;
  height: 100%;
}

.events {
  padding: 100px 0px;
  position: relative;
}
.events .container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.events .container img {
  max-width: 450px;
}
@media (max-width:991px) {
  .events .container img {
    display: none;
  }
}
.events .container .info {
  flex: 1;
}
.events .container .info .time {
  display: flex;
  justify-content: center;
  align-items: center;
}
.events .container .info .time .unit {
  margin-left: 10px;
}
.events .container .info .time .unit div {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  transition: 0.3s;
}
.events .container .info .time .unit div span:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #2196f3;
  padding: 15px;
  font-weight: bold;
}
.events .container .info .time .unit div span:last-child {
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 10px;
  border-top: 1px solid #d4d4d4;
  transition: 0.3s;
}
.events .container .info .time .unit div:hover {
  border: 1px solid #2196f3;
}
.events .container .info .time .unit div:hover span:last-child {
  border-top: 1px solid #2196f3;
}
.events .container .info h2 {
  font-size: 30px;
  margin-top: 40px;
}
.events .container .info p {
  font-size: 19px;
  color: #777;
  line-height: 1.5;
  margin-top: 25px;
}
.events .container .subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events .container .subscribe form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  background-color: #ececec;
  width: 600px;
  padding: 25px;
  border-radius: 50px;
}
@media (max-width:767px) {
  .events .container .subscribe form {
    flex-wrap: wrap;
    border-radius: 0px;
  }
}
.events .container .subscribe form input {
  border-radius: 50px;
  padding: 20px;
  outline: none;
  border: none;
}
@media (max-width:767px) {
  .events .container .subscribe form input {
    border-radius: 0px;
  }
}
.events .container .subscribe form input[name=email] {
  flex: 1;
}
.events .container .subscribe form input[type=submit] {
  background-color: #2196f3;
  margin-left: 25px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}
@media (max-width:767px) {
  .events .container .subscribe form input[type=submit] {
    margin: 10px 0px;
    width: 100%;
  }
}
.events .container .subscribe form input[type=submit]:hover {
  background-color: #1787e0;
}

.pricing {
  background-color: #ececec;
  padding: 100px 0px;
  position: relative;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.pricing .container .advanced-box {
  transform: translateY(-15px);
}
.pricing .container .advanced-box .advanced {
  position: absolute;
  z-index: 10;
  background-color: #2196f3;
  color: white;
  width: 40px;
  right: 20px;
  top: 0px;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 25px 20px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 50% 90%, 100% 100%, 100% 0%);
          clip-path: polygon(0 0, 0% 100%, 50% 90%, 100% 100%, 100% 0%);
}
.pricing .container .box {
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.13), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  position: relative;
  z-index: 1;
}
.pricing .container .box h3 {
  text-align: center;
  font-size: 22px;
  text-transform: capitalize;
  margin: 30px 0px;
  font-size: 25px;
}
.pricing .container .box img {
  width: 80px;
  display: block;
  margin: 15px auto;
}
.pricing .container .box h2 {
  text-align: center;
  margin: 15px 0px;
  font-size: 60px;
  font-weight: bold;
  color: #2196f3;
}
.pricing .container .box span {
  text-transform: capitalize;
  text-align: center;
  display: block;
  margin: 15px 0px;
}
.pricing .container .box ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.pricing .container .box ul li {
  padding: 15px;
  border-top: 1px solid #eee;
}
.pricing .container .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: #2196f3;
}
.pricing .container .box a {
  text-decoration: none;
  border: 2px solid #1787e0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto;
  padding: 15px 20px;
  border-radius: 6px;
  color: #2196f3;
  font-weight: bold;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}
.pricing .container .box a::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0%;
  height: 100%;
  transition: 0.3s;
  background-color: #1787e0;
  z-index: -1;
}
.pricing .container .box a:hover::before {
  width: 100%;
}
.pricing .container .box a:hover {
  color: white;
}
.pricing .container .box::before, .pricing .container .box::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 50%;
  background-color: #f6f6f6;
  transition: 0.3s;
  z-index: -1;
}
.pricing .container .box::before {
  left: 0px;
  top: 0px;
}
.pricing .container .box::after {
  right: 0px;
  top: 50%;
}
.pricing .container .box:hover::before, .pricing .container .box:hover::after {
  width: 100%;
}

.top-video {
  padding: 100px 0px;
}
.top-video .container .hol {
  border: 1px solid #ddd;
  display: grid;
  grid-template-columns: 300px 1fr;
}
@media (max-width:991px) {
  .top-video .container .hol {
    grid-template-columns: 100%;
  }
}
.top-video .container .hol .list {
  background-color: white;
}
.top-video .container .hol .list .top {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #2196f3;
  background-color: #f4f4f4;
}
.top-video .container .hol .list .top i {
  color: #2196f3;
}
.top-video .container .hol .list ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.top-video .container .hol .list ul li {
  padding: 20px;
  transition: 0.3s;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-video .container .hol .list ul li span {
  color: #777;
  margin: 15px 0px 0px;
}
.top-video .container .hol .list ul li:hover {
  color: #2196f3;
}
.top-video .container .hol .preview {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-video .container .hol .preview img {
  max-width: 100%;
  margin: 10px;
}
.top-video .container .hol .preview .info {
  padding: 20px;
  background: white;
  margin: 10px;
}

.stats {
  background-image: url(../imgs/stats.jpg);
  padding: 100px 0px;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .container .box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  opacity: 0.8;
  position: relative;
}
.stats .container .box span:first-of-type {
  font-size: 50px;
  font-weight: bold;
  margin: 10px auto;
}
.stats .container .box span:last-child {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: #2196f3;
}
.stats .container .box::before, .stats .container .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0%;
  background-color: #2196f3;
  transition: 0.3s;
}
.stats .container .box::before {
  left: -2px;
  top: 0px;
}
.stats .container .box::after {
  right: -2px;
  bottom: 0px;
}
.stats .container .box:hover::before, .stats .container .box:hover::after {
  height: 100%;
}

.request {
  background-color: white;
  display: flex;
  min-height: 100vh;
}
@media (max-width:991px) {
  .request {
    flex-wrap: wrap;
  }
}
.request .image {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-basis: 50%;
  z-index: 1;
}
@media (max-width:991px) {
  .request .image {
    flex-basis: 100%;
  }
}
.request .image .img2 {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: changeBack 5s linear infinite alternate-reverse;
}
.request .image .content {
  text-align: center;
  z-index: 2;
}
.request .image .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 25px 0px;
}
.request .image .content p {
  line-height: 1.5;
  font-size: 18px;
  max-width: 500px;
}
.request .image .content img {
  width: 300px;
  max-width: 100%;
}
.request .image::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.97);
}
.request .form {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
@media (max-width:991px) {
  .request .form {
    flex-basis: 50%;
  }
}
@media (max-width:767px) {
  .request .form {
    flex-basis: 90%;
  }
}
.request .form h1 {
  letter-spacing: -2px;
  font-size: 40px;
}
.request .form input,
.request .form textarea {
  width: 100%;
  outline: none;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-bottom: 15px;
}
.request .form input[type=submit] {
  background-color: #2196f3;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.footer {
  background-color: #191919;
  padding: 0px;
  padding-top: 70px;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .container .box:first-child h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
}
.footer .container .box:first-child .icons .facebook {
  text-decoration: none;
  color: #b9b9b9;
  background-color: #313131;
  width: 60px;
  height: 60px;
  font-size: 22px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer .container .box:first-child .icons .facebook:hover {
  background-color: #1877f2;
}
.footer .container .box:first-child .icons .twitter {
  text-decoration: none;
  color: #b9b9b9;
  background-color: #313131;
  width: 60px;
  height: 60px;
  font-size: 22px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer .container .box:first-child .icons .twitter:hover {
  background-color: #1da1f2;
}
.footer .container .box:first-child .icons .youtupe {
  text-decoration: none;
  color: #b9b9b9;
  background-color: #313131;
  width: 60px;
  height: 60px;
  font-size: 22px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer .container .box:first-child .icons .youtupe:hover {
  background-color: #ff0000;
}
.footer .container .box:first-child p {
  line-height: 1.5;
  color: #b9b9b9;
  margin: 10px 0px;
}
.footer .container .box:nth-child(2) ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.footer .container .box:nth-child(2) ul li {
  padding: 20px 0px;
}
.footer .container .box:nth-child(2) ul li a {
  text-decoration: none;
  color: #b9b9b9;
  padding: 0px 25px;
  position: relative;
  transition: 0.3s;
}
.footer .container .box:nth-child(2) ul li a::before {
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  color: #2196f3;
  position: absolute;
  margin-left: -21px;
  font-weight: 900;
  margin-left: -20px;
}
.footer .container .box:nth-child(2) ul li:hover a {
  color: white;
  padding-left: 40px;
}
.footer .container .box:nth-child(2) ul li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .container .box:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.footer .container .box:nth-child(3) .info {
  display: flex;
  align-items: center;
  color: #b9b9b9;
}
.footer .container .box:nth-child(3) .info i {
  color: #2196f3;
  font-size: 25px;
  margin-right: 10px;
}
@media (max-width:767px) {
  .footer .container .box:nth-child(3) .info i {
    margin: 0px 0px 15px;
  }
}
.footer .container .box:nth-child(3) .info p {
  line-height: 1.5;
}
.footer .container .box:nth-child(3) .info div span {
  display: block;
  margin: 10px 0px;
}
@media (max-width:767px) {
  .footer .container .box:nth-child(3) .info {
    flex-direction: column;
    margin: 15px 0px;
  }
}
@media (max-width:767px) {
  .footer .container .box:nth-child(3) {
    flex-direction: column;
  }
}
.footer .container .box:last-child img {
  border: 3px solid white;
  margin: 2px;
}
@media (max-width:767px) {
  .footer {
    text-align: center;
  }
}
.footer .foot {
  color: white;
  padding: 30px 0px;
  border-top: 1px solid #444;
  text-align: center;
  margin: 0px;
  margin-top: 50px;
}

@keyframes changeBack {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes changeBack {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes up_ {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
@-webkit-keyframes up_ {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
@keyframes iconAnimaition {
  20%, 60% {
    transform: translate(0px);
  }
  0%, 40%, 80%, 100% {
    transform: translateY(15px);
  }
}
@-webkit-keyframes iconAnimaition {
  20%, 60% {
    transform: translate(0px);
  }
  0%, 40%, 80%, 100% {
    transform: translateY(15px);
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}/*# sourceMappingURL=index.css.map */