@import "./var";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
// dots
.dots {
  background-image: url("../imgs/dots.png");
  background-repeat: no-repeat;
  width: 186px;
  height: 204px;
  position: absolute;
  @include media("mobile") {
    display: none;
  }
}
.dots-up {
  top: 200px;
  right: 0px;
}
.dots-down {
  bottom: 200px;
  left: 0px;
}
// dots
// zic
@include ziczack("zic", 40px);
// zic
// button start
.myButton {
  background-color: $main-color-alt;
  padding: 15px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  right: 15px;
  top: 86%;
  border-radius: 5px;
  border: white;
  transition: $main-transition;
  cursor: pointer;
  z-index: 1000;
  display: none;
  opacity: 0.9;
}
// button end
.main-anim {
  margin: 0px auto 80px;
  display: flex;
  justify-content: center;
  border: 2px solid;
  padding: 10px 20px;
  width: fit-content;
  text-transform: uppercase;
  position: relative;
  transition: $main-transition;
  /// margin-top: 100px;
  font-weight: bold;
  font-size: 28px;
  z-index: 1;
  &::before,
  &::after {
    content: "";
    @include circle(12px);
    background-color: $main-color;
    top: 50%;
    position: absolute;
    background-color: #2196f3;
    transition: $main-transition;
    transform: translateY(-50%);
  }
  &::before {
    z-index: -1;
    left: -30px;
    transition-delay: $main-transition;
  }
  &::after {
    z-index: -1;
    right: -30px;
    transition-delay: $main-transition;
  }
  &:hover::before {
    animation: left-anim $main-transition linear forwards;
    width: 55%;
    height: 100%;
  }
  &:hover::after {
    width: 55%;
    height: 100%;
    animation: right-anim $main-transition linear forwards;
  }
  &:hover {
    color: white;
    border: 1px solid white;
    transition-delay: 0.5s;
  }
  @include media("mobile") {
    font-size: 20px;
  }
}
body .article {
  padding: $main-padding-top 0px;
}
@include keyF(left-anim) {
  to {
    left: 0px;
    border-radius: 0px;
  }
}
@include keyF(right-anim) {
  to {
    right: 0px;
    border-radius: 0px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
// start header
#header {
  position: relative;
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  padding: 3px 0px;
}
body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 70px;
  text-transform: capitalize;
  @include media("mobile") {
    display: block;
    height: auto;
  }
  .logo {
    color: $main-color;
    font-size: 30px;
    height: 75px;
    text-decoration: $main-color wavy underline;

    @include flexcenter();
  }
  .nav {
    @include list-reset();
    @include flexcenter();
    li {
      @include flexcenter();
      // overflow: hidden;
      @include media("mobile") {
        font-size: 18px;
        padding: 0px 10px;
      }
      > #header_a {
        overflow: hidden;
        position: relative;

        text-decoration: none;
        color: black;
        padding: 0px 27px;
        font-size: 19px;
        height: 75px;
        display: block;
        @include media("mobile") {
          font-size: 16px;
          padding: 5px 0px;
        }
        @include flexcenter();
        &::before {
          content: "";
          position: absolute;
          left: -160px;
          top: 0px;
          width: 100%;
          height: 5px;
          background-color: $main-color;
          transition: $main-transition;
        }
      }
      &:hover > #header_a {
        background-color: #fafafa;
        transition: $main-transition;
        color: $main-color-alt;
      }
      &:hover #header_a::before {
        left: 0px;
      }
    }
    .menu {
      position: absolute;
      width: 100%;
      background-color: white;
      z-index: -100;
      @include flexcenter();
      top: 110px;
      opacity: 0;
      padding: 30px;
      left: 0px;
      gap: 30px;
      transition: $main-transition;
      @include media("mobile") {
        display: flex;
        flex-wrap: wrap;
        top: 142px;
        flex-direction: column;
        border-top: 1px solid #ddd;
      }
      img {
        max-width: 100%;
        @include media("small") {
          display: none;
        }
      }

      ul {
        list-style: none;
        min-width: 250px;
        flex: 1;
        @include media("mobile") {
          width: 100%;
          margin-bottom: -30px;
        }
        li:not(:last-child) {
          border-bottom: 1px solid #ddd;
        }
        @include media("mobile") {
          li:last-child {
            border-bottom: 1px solid #ddd;
          }
        }
        li {
          padding: 15px;
          position: relative;

          // &:hover::before {
          //   width: 100%;
          // }
        }
        i {
          margin-right: 5px;
        }
        a {
          display: block;
          text-decoration: none;
          color: $main-color;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }
}
.menu ul li {
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0%;
    background-color: #fafafa;
    // transform-origin: left center;
    transition: $main-transition;
    z-index: -1;
  }
}
.menu ul li:hover::before {
  width: 100%;
}
// end header
// start landing
body .landing {
  // clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    left: 0;
    top: -48px;
    background-color: #ececec;
    /* -webkit-transform: skewX(6deg); */
    transform: skewY(-6deg);
    z-index: -1;
  }
  .container {
    height: calc(100vh - 74px);
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    .image {
      img {
        max-width: 600px;
        animation: up_ 2s infinite alternate linear;
        @include media("mobile") {
          display: none;
        }
        @include media("small") {
          display: none;
        }
        margin-bottom: 150px;
        // animation-duration: inherit;
      }
    }
    .text {
      flex: 1;
      width: 300px;
      margin-top: 15px;
      margin-bottom: 100px;

      @include media("mobile") {
        text-align: center;
        margin-bottom: 100px;
      }
      @include media("small") {
        margin-bottom: 100px;
        text-align: center;
      }
      > {
        h2 {
          font-size: 40px;
          text-transform: capitalize;
          @include media("mobile") {
            font-size: 1.5rem;
          }
        }
        p {
          font-size: 23px;
          font-size: 25px;
          line-height: 1.7;
          color: #666;
          margin: 0px {
            top: 5px;
          }
          //   @include media("mobile"){
          //   font-size: 1.2rem;
          // }
        }
      }
    }
    > a {
      position: absolute;
      top: 88%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $main-color;
      animation: iconAnimaition 1.3s infinite ease-in;
    }
  }
}
// end landing
// start article
body .article {
  .container {
    @include gridcol(250px, 40px);
    .box {
      transform: perspective(2000px);
      transform-style: preserve-3d;
      box-shadow: 0px 2px 15px rgba(black, 0.2);
      @include flexcenter();
      flex-direction: column;
      border-radius: 6px;
      .image {
        img {
          max-width: 100%;
          border-radius: 6px 6px 0px 0px;
        }
      }
      .text {
        padding: 20px;
        h3 {
          text-transform: capitalize;
          margin: 15px auto 0px;
        }
        p {
          color: #777;
          line-height: 1.5;
          margin-top: 5px;
        }
        border-bottom: 1px solid #e6e6e7;
      }
      .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        a {
          text-decoration: none;
          color: $main-color;
          font-size: 17px;
          font-weight: bold;
          text-transform: capitalize;
        }
        .i {
          color: $main-color;
        }
      }
      &:hover .i {
        animation: go_right 0.5s linear infinite;
      }
      &:hover {
        box-shadow: 0px 2px 25px rgba(black, 0.5);
      }
    }
  }
}
@include keyF(go_right) {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(5px);
  }
}
// end article
/// start gallery
.gallery {
  padding: $main-padding-top 0px;
  background-color: $section-background;
  overflow: hidden;

  .container {
    @include gridcol(300px, 30px);
    .gallery-content {
      padding: 16px;
      box-shadow: 0 15px 10px 0px rgba(black, 0.12),
        2px 5px 5px 0px rgba(black, 0.1);
      background: white;
      overflow: hidden;
      position: relative;
      > div {
        overflow: hidden;
      }
      img {
        max-width: 100%;
        position: relative;
        transition: $main-transition;
      }
      &:hover img {
        transform: scale(1.2) skewX(-7deg);
      }
      &::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 0%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(white, 0.25);
        transition: $main-transition;
        z-index: 100;
      }
      &:hover::before {
        width: 100%;
        height: 100%;
      }
    }
  }
}
/// end gallery
// start features
body .features {
  padding: $main-padding-top 0px;
  .container {
    @include gridcol(300px, 40px);
    .box {
      border: 1px solid #ccc;
      overflow: hidden;
      padding-bottom: 25px;
      .image {
        position: relative;
        img {
          max-width: 100%;
        }
        .clip {
          width: 104%;
          left: -11px;
          position: absolute;
          height: 50%;
          background-color: white;
          top: 51%;
          transition: $main-transition;
          clip-path: polygon(0% 100%, 100% 0, 100% 100%);
        }
      }
      .text {
        text-align: center;
        h2 {
          text-transform: capitalize;
          font-weight: bold;
          font-size: 40px;
          padding: 15px;
          position: relative;
          width: fit-content;
          margin: auto;
        }
        p {
          color: #777;
          font-size: 20px;
          padding: 20px;
          line-height: 1.7;
        }
      }
      &:hover .clip {
        clip-path: polygon(0 100%, 0 0, 100% 100%);
      }
    }
    $vars: (
      "quality": #f44036,
      "time": #009688,
      "passion": #03a9f4,
    );
    @each $name, $colors in $vars {
      .#{$name} {
        .image::before {
          @include overlay($colors, 0.6);
        }
        .text {
          h2 {
            &::before {
              content: "";
              position: absolute;
              width: calc(100% - 50px);
              background-color: $colors;
              height: 5px;
              left: 25px;
              top: 100%;
            }
          }
        }
      }

      .#{$name} a {
        width: fit-content;
        display: block;
        margin: 10px auto;
        text-decoration: none;
        padding: 10px 30px;
        font-size: 22px;
        border: 3px solid $colors;
        color: $colors;
        font-weight: bold;
        border-radius: 7px;
        text-transform: capitalize;
        position: relative;
        transition: $main-transition;
        &::selection {
          background-color: $colors;
          color: white;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0px;
          top: 0px;
          height: 98%;
          width: 0%;
          z-index: -1;
          background-color: $colors;
          transition: $main-transition;
        }

        &:hover::before {
          width: 100%;
        }
        &:hover {
          color: white;
        }
      }
      .#{$name} .text :is(p, h2)::selection {
        background-color: $colors;
        color: white;
      }
    }
  }
}
// end features
// start testimonials
.testimonials {
  padding: $main-padding-top 0px;
  background-color: $section-background;
  .container {
    @include gridcol(300px, 40px);
    .box {
      position: relative;
      background: white;
      padding: 20px;
      text-transform: capitalize;
      border-radius: 6px;
      transform: perspective(1000px);
      transform-style: preserve-3d;
      transition: $main-transition;
      color: rgba(0, 0, 0, 0.121);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
      @include media("mobile") {
        transform-style: flat;
      }
      img {
        position: absolute;
        @include circle(100px);
        top: -60px;
        right: -14px;
        border: 10px solid $section-background;
        transform: translateZ(10px);
      }
      h3 {
        margin: 0px {
          bottom: 10px;
        }
        transform: translateZ(10px);
      }
      .title {
        display: block;
        transform: translateZ(10px);
        color: #777;
      }
      .rate {
        transform: translateZ(10px);
        margin: 10px 0px 5px 0px;
        .filled {
          color: #ffc107;
        }
      }
      p {
        color: #777;
        line-height: 1.5;
        transform: translateZ(10px);
        padding: 5px 0px 2px 0px;
      }
    }
  }
}
// end testimonials
// start team-members
.team-members {
  padding: $main-padding-top 0px;
  .container {
    @include gridcol(300px, 40px);
    .box {
      display: flex;
      flex-direction: column;
      position: relative;
      transition: $main-transition;
      &::before {
        content: "";
        position: absolute;
        right: 0px;
        top: 0px;
        width: 80%;
        height: 100%;
        background-color: #f3f3f3;
        border-radius: 10px;
        z-index: -1;
      }
      &::after {
        content: "";
        position: absolute;
        right: 0px;
        top: 0px;
        width: 0%;
        height: 100%;
        background-color: #e4e4e4;
        border-radius: 10px;
        z-index: -1;
        transition: $main-transition;
      }
      &:hover i {
        color: $main-color;
      }
      &:hover h3 {
        color: #e4e4e4;
      }
      &:hover img {
        filter: blur(1);
      }
      &:hover::after {
        width: 80%;
      }
      .imageAndsocials {
        padding-top: 60px;
        width: 100%;
        display: flex;
        img {
          width: calc(100% - 75px);
          border-radius: 7px;
          transition: $main-transition;
        }
        .socials {
          width: 75px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          a {
            text-decoration: none;
            width: 20px;
            height: 20px;
            i {
              transition: $main-transition;
              color: #777;
            }
            &:hover i {
              color: $main-color;
            }
            &:hover i.you-tupe {
              color: rgb(241, 36, 36);
            }
          }
        }
      }
      .info {
        h3 {
          text-transform: capitalize;
          color: $main-color;
          margin: 20px 0px;
          padding-left: 100px;
          font-weight: bold;
          font-size: 20px;
        }
        p {
          margin: 20px 0px;
          padding-left: 100px;
          font-size: 18px;
        }
      }

      &:hover h3 {
        color: #777;
      }
      &:hover img {
        filter: grayscale(100%);
      }
    }
  }
}
// end team-members
// start services
.services {
  background-color: $section-background;
  padding: $main-padding-top 0px;
  .container {
    @include gridcol(300px, 40px);
    .box {
      background: white;
      padding-top: 15px;
      position: relative;
      counter-increment: services;
      transition: 0.5s;
      box-shadow: 0px 12px 20px 0px rgba(black, 0.13),
        0px 2px 4px 0px rgba(black, 0.12);
      i {
        color: #d5d5d5;
        display: block;
        margin: 20px auto;
        text-align: center;
      }
      h3 {
        font-size: 1.9rem;
        font-weight: bold;
        margin: 25px auto 35px;
        text-align: center;
        color: $main-color-alt;
      }
      .info {
        background-color: #f9f9f9;
        padding: 15px;
        position: relative;
        // text-align: right;
        &::before {
          content: "0" counter(services);
          position: absolute;
          background-color: $main-color;
          color: white;
          font-weight: bold;
          font-size: 30px;
          @include flexcenter();
          width: 50px;
          height: 100%;
          padding: 0px 25px 0px 15px;
          left: 0px;
          top: 0px;
        }
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 50px;
          background-color: #d5d5d5;
          left: 75px;
          top: 0px;
          transform: skewX(-23deg);
        }
        a {
          text-decoration: none;
          display: block;
          text-align: right;
          color: $main-color-alt;
          font-size: 18px;
          text-transform: capitalize;
        }
      }
      &::before {
        content: "";
        left: 50%;
        top: -3px;
        width: 0%;
        position: absolute;
        height: 3px;
        background-color: #2196f3;
        transform: translateX(-50%);
        transition: $main-transition;
      }
      &:hover::before {
        width: 100%;
      }
      &:hover {
        transform: translateY(-10px);
      }
    }
  }
}
// end services
// start our-skills
.our-skills {
  padding: $main-padding-top 0px;
  .container {
    @include gridcol(450px, 40px);
    @include media("small") {
      grid-template-columns: 1fr;
    }
    @include media("mobile") {
      grid-template-columns: 1fr;
    }
    align-items: center;

    .image {
      img {
        max-width: 100%;
        @include media("small") {
          display: none;
        }
      }
    }
    .skills {
      .skill {
        margin-bottom: 15px;
        h3 {
          text-transform: uppercase;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px;
          > span {
            font-size: 12px;
            font-weight: bold;
            color: $main-color;
            border: 1px solid #ccc;
            padding: 5px;
            border-radius: 6px;
            @include flexcenter;
          }
        }
        .progress {
          height: 30px;
          background-color: #ccc;
          position: relative;

          > span {
            height: 100%;
            position: absolute;
            background-color: $main-color;
            transition: 1s;
          }
        }
      }
    }
  }
}
// end our-skills
// start how it works
.how-it-work {
  padding: $main-padding-top 0px;
  background-color: $section-background;
  overflow: hidden;
  .container {
    @include media("small") {
      flex-wrap: wrap;
    }
    @include flexcenter();
    .image {
      transition: 1s;
      img {
        max-width: 100%;
        margin-right: 90px;
        @include media("mobile") {
          margin-right: 0px;
        }
      }
      @include media("small") {
        margin-bottom: 25px;
      }
    }
    .info {
      .box {
        @include flexcenter();
        transition: 1s;

        @include media("mobile") {
          flex-direction: column;
          text-align: center;
        }
        padding: 30px;
        background-color: #f6f6f6;
        position: relative;
        border: 2px solid white;
        border-radius: 6px;
        z-index: 1;
        margin-bottom: 20px;
        img {
          width: 75px;
        }
        .text {
          @include media("small") {
            width: auto;
          }
          display: flex;
          flex-wrap: wrap;
          width: 227px;
          padding: 23px;
          margin-left: 5px;
          padding: 15px;
          h2 {
            font-size: 22px;
            @include media("mobile") {
              text-align: center;
              width: 100%;
            }
          }
          p {
            font-size: 18px;
            color: #777;
            line-height: 1.4;
            margin-top: 10px;
          }
        }
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 0%;
          height: 0%;
          z-index: -1;
          background-color: $section-background;
          transition: $main-transition;
        }
        &:hover::before {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
// end how it works
// start events
.events {
  padding: $main-padding-top 0px;
  position: relative;
  .container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    img {
      max-width: 450px;
      @include media("small") {
        display: none;
      }
    }
    .info {
      flex: 1;
      .time {
        @include flexcenter();
        .unit {
          margin-left: 10px;
          div {
            border: 1px solid #d4d4d4;
            border-radius: 6px;
            transition: $main-transition;
            span:first-child {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              font-size: 35px;
              color: $main-color;
              padding: 15px;
              font-weight: bold;
            }
            //
            span:last-child {
              width: 100%;
              display: block;
              font-size: 15px;
              padding: 10px;
              border-top: 1px solid #d4d4d4;
              transition: $main-transition;
            }
            &:hover {
              border: 1px solid $main-color;
            }
            &:hover span:last-child {
              border-top: 1px solid $main-color;
            }
          }
        }
      }

      h2 {
        font-size: 30px;
        margin-top: 40px;
      }
      p {
        font-size: 19px;
        color: #777;
        line-height: 1.5;
        margin-top: 25px;
      }
    }
    .subscribe {
      width: 100%;
      @include flexcenter();
      form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 50px;
        background-color: $section-background;
        width: 600px;
        padding: 25px;
        border-radius: 50px;
        @include media("mobile") {
          flex-wrap: wrap;
          border-radius: 0px;
        }
        input {
          border-radius: 50px;
          padding: 20px;
          outline: none;
          border: none;
          @include media("mobile") {
            border-radius: 0px;
          }
          &[name="email"] {
            flex: 1;
          }
          &[type="submit"] {
            background-color: $main-color;
            margin-left: 25px;
            color: white;
            cursor: pointer;
            font-weight: bold;
            font-size: 18px;
            transition: $main-transition;
            @include media("mobile") {
              margin: 10px 0px;
              width: 100%;
            }
            &:hover {
              background-color: $main-color-alt;
            }
          }
        }
      }
    }
  }
}
// end events
// start prices
.pricing {
  background-color: $section-background;
  padding: $main-padding-top 0px;
  position: relative;
  .container {
    @include gridcol(300px, 40px);
    .advanced-box {
      transform: translateY(-15px);
      .advanced {
        position: absolute;
        z-index: 10;
        background-color: #2196f3;
        color: white;
        width: 40px;
        right: 20px;
        top: 0px;
        writing-mode: vertical-lr;
        @include flexcenter();
        font-size: 18px;
        font-weight: bold;
        padding: 25px 20px;
        clip-path: polygon(0 0, 0% 100%, 50% 90%, 100% 100%, 100% 0%);
      }
    }
    .box {
      @include shadow();
      background-color: white;
      position: relative;
      z-index: 1;
      h3 {
        text-align: center;
        font-size: 22px;
        text-transform: capitalize;
        margin: 30px 0px;
        font-size: 25px;
      }
      img {
        width: 80px;
        display: block;
        margin: 15px auto;
      }
      h2 {
        text-align: center;
        margin: 15px 0px;
        font-size: 60px;
        font-weight: bold;
        color: $main-color;
      }
      span {
        text-transform: capitalize;
        text-align: center;
        display: block;
        margin: 15px 0px;
      }
      ul {
        @include list-reset();
        li {
          padding: 15px;
          border-top: 1px solid #eee;
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f00c";
            margin-right: 10px;
            font-weight: 900;
            color: $main-color;
          }
        }
      }
      a {
        text-decoration: none;
        border: 2px solid $main-color-alt;
        display: block;
        width: fit-content;
        margin: 30px auto;
        padding: 15px 20px;
        border-radius: 6px;
        color: $main-color;
        font-weight: bold;
        transition: $main-transition;
        position: relative;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          right: 0px;
          top: 0px;
          width: 0%;
          height: 100%;
          transition: $main-transition;
          background-color: $main-color-alt;
          z-index: -1;
        }
        &:hover::before {
          width: 100%;
        }
        &:hover {
          color: white;
        }
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 0px;
        height: 50%;
        background-color: #f6f6f6;
        transition: $main-transition;
        z-index: -1;
      }
      &::before {
        left: 0px;
        top: 0px;
      }
      &::after {
        right: 0px;
        top: 50%;
      }
      &:hover::before,
      &:hover::after {
        width: 100%;
      }
    }
  }
}
// end prices
// start top video
.top-video {
  padding: $main-padding-top 0px;
  .container {
    .hol {
      border: 1px solid #ddd;
      display: grid;
      grid-template-columns: 300px 1fr;
      @include media("small") {
        grid-template-columns: 100%;
      }
      .list {
        background-color: white;
        .top {
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          color: $main-color;
          background-color: #f4f4f4;
          i {
            color: $main-color;
          }
        }
        ul {
          @include list-reset();
          li {
            padding: 20px;
            transition: $main-transition;
            border-top: 1px solid #ddd;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span {
              color: #777;
              margin: 15px 0px 0px;
            }
            &:hover {
              color: $main-color;
            }
          }
        }
      }
      .preview {
        background-color: #e2e2e2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
          max-width: 100%;
          margin: 10px;
        }
        .info {
          padding: 20px;
          background: white;
          margin: 10px;
        }
      }
    }
  }
}
// end top video
// start stats
.stats {
  background-image: url(../imgs/stats.jpg);
  padding: $main-padding-top 0px;
  position: relative;
  &::before {
    @include overlay(white, 0.95);
  }
  .container {
    @include gridcol(250px, 20px);
    .box {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 20px;
      opacity: 0.8;
      position: relative;
      span:first-of-type {
        font-size: 50px;
        font-weight: bold;
        margin: 10px auto;
      }
      span:last-child {
        font: {
          weight: bold;
          style: italic;
          size: 20px;
        }
        color: $main-color;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 0%;
        background-color: $main-color;
        transition: $main-transition;
      }
      &::before {
        left: -2px;
        top: 0px;
      }
      &::after {
        right: -2px;
        bottom: 0px;
      }
      &:hover::before,
      &:hover::after {
        height: 100%;
      }
    }
  }
}
// end stats
// start request
.request {
  background-color: white;
  display: flex;
  min-height: 100vh;
  @include media("small") {
    flex-wrap: wrap;
  }
  .image {
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    color: white;
    @include flexcenter();
    position: relative;
    flex-basis: 50%;

    @include media("small") {
      flex-basis: 100%;
    }

    z-index: 1;
    .img2 {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      animation: changeBack 5s linear infinite alternate-reverse;
    }
    .content {
      text-align: center;
      z-index: 2;
      h2 {
        font-size: 40px;
        letter-spacing: -2px;
        margin: 25px 0px;
      }
      p {
        line-height: 1.5;
        font-size: 18px;
        max-width: 500px;
      }

      img {
        width: 300px;
        max-width: 100%;
      }
    }
    &::before {
      @include overlay($main-color, 0.97);
    }
  }
  .form {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    @include media("small") {
      flex-basis: 50%;
    }
    @include media("mobile") {
      flex-basis: 90%;
    }
    h1 {
      letter-spacing: -2px;
      font-size: 40px;
    }
    input,
    textarea {
      width: 100%;
      outline: none;
      padding: 15px;
      border: none;
      border-bottom: 1px solid #ccc;
      background-color: #f9f9f9;
      margin-bottom: 15px;
    }
    input[type="submit"] {
      background-color: $main-color;
      color: white;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
// end request
// start footer
.footer {
  background-color: #191919;
  padding: 0px {
    top: 70px;
  }
  .container {
    @include gridcol(250px, 40px);
    .box:first-child {
      h2 {
        font-size: 50px;
        color: white;
        margin-bottom: 10px;
      }
      $names: (
        "facebook": #1877f2,
        "twitter": #1da1f2,
        "youtupe": #ff0000,
      );
      @each $name, $color in $names {
        .icons {
          .#{$name} {
            text-decoration: none;
            color: #b9b9b9;
            background-color: #313131;
            width: 60px;
            height: 60px;
            font-size: 22px;
            margin-right: 10px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:hover {
              background-color: $color;
            }
          }
        }
      }
      p {
        line-height: 1.5;
        color: #b9b9b9;
        margin: 10px 0px;
      }
    }
    .box:nth-child(2) {
      // background-color: white;
      ul {
        @include list-reset();
        li {
          padding: 20px 0px;
          a {
            text-decoration: none;
            color: #b9b9b9;
            padding: 0px 25px;
            position: relative;
            transition: $main-transition;
            &::before {
              content: "\F101";
              font-family: "Font Awesome 5 Free";
              color: $main-color;
              position: absolute;
              margin-left: -21px;
              font-weight: 900;
              margin-left: -20px;
            }
          }
          &:hover a {
            color: white;
            padding-left: 40px;
          }
        }
        li:not(:last-child) {
          border-bottom: 1px solid #444;
        }
      }
    }
    .box:nth-child(3) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      .info {
        display: flex;
        align-items: center;
        color: #b9b9b9;

        i {
          color: $main-color;
          font-size: 25px;
          margin-right: 10px;
          @include media("mobile") {
            margin: 0px 0px 15px;
          }
        }
        p {
          line-height: 1.5;
        }
        div {
          span {
            display: block;
            margin: 10px 0px;
          }
        }
        @include media("mobile") {
          flex-direction: column;
          margin: 15px 0px;
        }
      }
      @include media("mobile") {
        flex-direction: column;
      }
    }
    .box:last-child {
      img {
        border: 3px solid white;
        margin: 2px;
      }
    }
  }
  @include media("mobile") {
    text-align: center;
  }
  .foot {
    color: white;
    padding: 30px 0px;
    border-top: 1px solid #444;
    text-align: center;
    margin: 0px {
      top: 50px;
    }
  }
}
// end footer
@include keyF(changeBack) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@include keyF(up_) {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
// icon animaition
@include keyF(iconAnimaition) {
  20%,
  60% {
    transform: translate(0px);
  }
  0%,
  40%,
  80%,
  100% {
    transform: translateY(15px);
  }
}
// icon animaition end
//
@include container();
